# Mind the Gap — {{name}} ({{variant}})
# https://github.com/danfry1/mind-the-gap

gui:
  theme:
    activeBorderColor:
      - "{{accents.elizabeth}}"
      - bold
    inactiveBorderColor:
      - "{{backgrounds.surface1}}"
    searchingActiveBorderColor:
      - "{{accents.circle}}"
      - bold
    optionsTextColor:
      - "{{accents.victoria}}"
    selectedLineBgColor:
      - "{{backgrounds.surface0}}"
    cherryPickedCommitFgColor:
      - "{{accents.victoria}}"
    cherryPickedCommitBgColor:
      - "{{accents.elizabeth}}"
    markedBaseCommitFgColor:
      - "{{accents.victoria}}"
    markedBaseCommitBgColor:
      - "{{accents.circle}}"
    unstagedChangesColor:
      - "{{accents.central}}"
    defaultFgColor:
      - "{{foregrounds.text}}"
